@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

.site-data, .problems, .solutions {
    display: block;
    height: 90vh;
    text-align: center;
    align-items: baseline;
}

hr {
    margin-top: 10px;
    border-top: 1px solid #060b26;
    border-bottom: transparent;
    opacity: 50%;
    z-index: 0;
}
